*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
height:100vh;
overflow:hidden;
background:#000;
color:white;
position:relative;
}



/* ===== ФОН MERCEDES (без розтягування) ===== */

.background{
position:absolute;
width:100%;
height:100%;
background-color:#000;
background-image:
linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)),
url('merc.png');
background-repeat:no-repeat;
background-position:center bottom;
background-size:contain; /* ГОЛОВНЕ */
z-index:1;
}



/* ===== HEADER ===== */

header{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:rgba(0,0,0,0.95);
border-bottom:2px solid red;
z-index:20;
}

.logo{
height:95px;
}

.phones{
display:flex;
flex-direction:column;
align-items:flex-end;
gap:6px;
}

.phone{
font-size:22px;
font-weight:bold;
text-decoration:none;
color:#ff0000;
animation:pulse 1.5s infinite;
}

@keyframes pulse{
0%{transform:scale(1);}
50%{transform:scale(1.1);}
100%{transform:scale(1);}
}

/* ===== ДОРОГА ===== */

.road{
position:absolute;
bottom:0;
width:100%;
height:90px;
background:#111;
z-index:5;
overflow:hidden;
}

.road::before{
content:"";
position:absolute;
top:40px;
left:0;
width:200%;
height:4px;
background:
repeating-linear-gradient(
to right,
white 0px,
white 40px,
transparent 40px,
transparent 80px
);
animation:roadMove 2s linear infinite;
}

@keyframes roadMove{
from{transform:translateX(0);}
to{transform:translateX(-80px);}
}

/* ===== CENTER ===== */

.center{
position:absolute;
top:45%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
width:90%;
max-width:450px;
z-index:15;
}

.center h1{
font-size:42px;
margin-bottom:25px;
color:#ff0000;
text-shadow:0 0 15px red;
}

input{
width:100%;
padding:15px;
border-radius:8px;
border:1px solid red;
margin-bottom:15px;
font-size:16px;
background:black;
color:white;
}

button{
width:100%;
padding:15px;
border:none;
border-radius:8px;
background:red;
color:white;
font-size:18px;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#cc0000;
transform:scale(1.05);
box-shadow:0 0 15px red;
}

@media(max-width:768px){
.logo{height:75px;}
}

/* ===== ДОЛАРИ ===== */

.money{
position:fixed;
bottom:0;
width:100%;
font-size:28px;
display:flex;
justify-content:space-around;
animation:floatMoney 6s linear infinite;
z-index:2;
opacity:0.8;
}

@keyframes floatMoney{
0%{transform:translateY(0);}
50%{transform:translateY(-15px);}
100%{transform:translateY(0);}
}


