/* ===== CENTER ===== */

.hero{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
z-index:10;
width:90%;
}

.hero h1{
font-size:48px;
margin-bottom:40px;
color:#ff0000;
text-shadow:0 0 20px red;
}

/* ===== BIG BUTTON ===== */

.big-btn{
display:inline-block;
padding:25px 50px;
font-size:28px;
font-weight:bold;
background:red;
color:white;
text-decoration:none;
border-radius:12px;
box-shadow:0 0 25px red;
transition:0.3s;
animation:pulseBig 1.5s infinite;
}

.big-btn:hover{
transform:scale(1.1);
box-shadow:0 0 40px red;
}

@keyframes pulseBig{
0%{transform:scale(1);}
50%{transform:scale(1.05);}
100%{transform:scale(1);}
}

/* ===== MESSENGERS ===== */

.messengers{
margin-top:40px;
display:flex;
justify-content:center;
gap:20px;
}

.whatsapp{
background:#25D366;
color:white;
padding:12px 25px;
border-radius:8px;
text-decoration:none;
font-weight:bold;
}

.viber{
background:#7360F2;
color:white;
padding:12px 25px;
border-radius:8px;
text-decoration:none;
font-weight:bold;
}
